/* variables */

/* global */

/* header */

/* user input */

/* data */
.data-container {
  display: flex;
}

.data-item {
  flex: 1;
  background-color: lightblue;
  margin: 0 150px;
  border: 0;
  border-radius: 30px;
  text-align: center;
}

.data-item p {
  margin: 50px 0;
}

.graph-container {
  margin: 75px 150px;
}

.graph-container iframe {
  display: block;
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

/* newsfeed */

/* footer */

/* responsive design */
