.header {
    padding: 20px;
    background-color: rgb(69, 139, 196);
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 20px;
    margin-right: 25px;
    float: right;
    font-size: 22px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}